div.contact_details {
    text-align: center;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}