div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  /*float: left;*/
  width: auto;
  border-radius : 5px;
  flex: 1 0 30%;
  text-align: left;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 361px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.center {
  margin: auto;
  width: 1200px;
  height: 950px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 200px;
  display:flex;
  flex-wrap: wrap;
}

.desc{
  font-weight: bold;
  float:left;}

a{
  color : black;
}



