
<div class="center">
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/Pepperpni.png" width="600" height="400">
      </a>
      <div class="desc">{{meat[7]}} </div>
    </div>
  
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/mushroom.png" width="600" height="400">
      </a>
      <div class="desc">{{veg[0]}} </div>
    </div>
  
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/chicken.png" width="600" height="400">
      </a>
      <div class="desc">{{meat[2]}} </div>
    </div>
  

  
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/Anchovies.png" width="600" height="400">
      </a>
      <div class="desc">{{meat[5]}} </div>
    </div>
  
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/spinach.png" width="600" height="400">
      </a>
      <div class="desc">{{veg[12]}} </div>
    </div>

    



    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/bacon.png" width="600" height="400">
      </a>
      <div class="desc">{{meat[1]}} </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/staple_pizza/Cauliflower.png" width="600" height="400">
      </a>
      <div class="desc">{{veg[9]}} </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="#">
          <img src="../assets/staple_pizza/Sausage.png" width="600" height="400">
        </a>
        <div class="desc">{{meat[0]}} </div>
      </div>
  
      <div class="gallery">
        <a target="_blank" href="#">
          <img src="../assets/staple_pizza/Eggplant.png" width="600" height="400">
        </a>
        <div class="desc">{{veg[8]}} </div>
      </div>

  </div>
  

