<section class="container content-section">
  <br>
  <h2 class="section-header">YOUR CART</h2>
  <div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-size cart-header cart-column">SIZE</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>

  <div class="cart-row" *ngFor="let pizza of cartWithToppings.pizzaForms; let i = index" >

<!-- <<<<<<< raymond5 -->
    <div  class="cart-item cart-column dropdown">
      <img class="cart-item-image" src="{{images.get(pizza.type)}}" width="100" height="100">
      <span class="cart-item-title">{{pizza.type| pizzaname}}</span>

      <div class="dropdown-content">
        <p *ngFor="let top of cartWithToppings.pizzaForms[i].toppingNames">{{top}}<br></p>
      </div>
    </div>


    <span  class="cart-size cart-column">{{pizza.size}}</span>
    <span  class="cart-price cart-column">{{pizza.cost}}</span>


    <div class="cart-quantity cart-column">
      <input [(ngModel)]="quantity[i]" id="quantity{{i}}" name="quantity{{i}}" class="cart-quantity-input" type="number" min="1" value="1" (click)="updateQuantity()">
      <button  (click) = "removeFromCart(i)"class="btn btn-danger" type="button">REMOVE</button>
    </div>

</div>

  <div class="cart-items">
  </div>
  <div class="cart-total">
    <strong class="cart-total-title">Total:</strong>
    <span class="cart-total-price">${{totalCost}}</span>
  </div>


    <input type="text" [(ngModel)]="note" placeholder="Please enter any details about your order.">
  <button class="btn btn-primary btn-purchase" type="button" (click)="checkout()">PURCHASE</button>
  </section>




