<!-- 
    <body id="buffer">
        <div id="container">
        <div id="photo">
            <h1 id="title">Plain Pizza</h1>
            <div id="photo1"><img #pizzaPic src="../../../assets/plain_pizza/imageedit_3_2133899129.png" width="600" height="400"></div>
            
        </div>
        
        <div id ="fixx"><div id="toppings">
            <h2>Sizes</h2>
            <div *ngFor="let size of sizes">
        
                <input type="radio"  name="size"[value]="size.toppingName" (change)="ontoppingChange(size.toppingName,size.cost,$event.target.checked)">
                
                <label   [for]=" size.toppingName"> {{size.toppingName}}</label><br>
                </div>
        <div>
            <h3>Price : ${{costTotal}}</h3>
            <button class="btn-success" (click)="addToCart()">Add to Cart</button>
        </div></div>
    </div>
    </div>
    </body> -->

    <body class="Site">
     
        <main class="Site-content">
            <div id="container">
         
                <h1 id="title">Plain Pizza</h1>
                <img #pizzaPic src="../../../assets/plain_pizza/imageedit_3_2133899129.png" width="350" height="300">
                
            
            
            <div id ="fixx"><div id="toppings">
                <h2>Sizes</h2>
                <div *ngFor="let size of sizes">
            
                    <input type="radio"  name="size"[value]="size.toppingName" (change)="ontoppingChange(size.toppingName,size.cost,$event.target.checked)">
                    
                    <label   [for]=" size.toppingName"> {{size.toppingName}}</label><br>
                    </div>
            <div>
                <h3 id="cost">${{costTotal}}</h3>
        <button id="cart-btn"  (click)="addToCart()" routerLink="/cart"> Add To Cart </button>
              
              
<!--                 <h3>Price : ${{costTotal}}</h3>
                <button class="btn-success" (click)="addToCart()">Add to Cart</button> -->


                <!-- <button class="btn-success" (click)="addToCart()">Add to Cart</button> -->

                <!-- <button class="btn-success" >Add to Cart</button> -->


            </div></div>
        </div>
        </div>
        </main>
      
      </body>







