#showcase{
    background-image: url("/assets/pizzaShowcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2.5em 0;
    text-align: center;
    color:white;
}
