footer{

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(230, 217, 167);
    color: white;
    text-align: center;
    margin :0px;
    display: flex;
    justify-content: center;
    padding:20px;

}
  footer  a{
      color:black; 
      margin:0 50px 0 50px;
      text-decoration: underline;
  }

