footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(-120deg, #ee3124, #00a160, #ffc425);

    color: white;
    text-align: center;
    margin :0px;
    display: flex;
    justify-content: center;
    padding:20px;

    /*flex-shrink: 0;*/



}
  footer  a{
      color:white;
      margin:0 50px 0 50px;
      text-decoration: underline;
  }

  div{
    padding-top: 100px;
  }




