<header>
  <nav style="background-color: red;"class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#"><img class="i2" src="../../../assets/logo.png"></a>


    <div id="user">
      <h1>{{session}}</h1>
    </div>

    <div id="navLinks">
    <ul class="navbar-nav " >

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Menu
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="menu/plain">Plain</a>
            <a class="dropdown-item" routerLink="/pizzaCustomizer">Build Your Own</a>
            <a class="dropdown-item" routerLink="">Special</a>
            <a class="dropdown-item" routerLink="menu/staple">Staple</a>
          </div>

        </li>

        <li> <a class="nav-link"(click)="showLogin()" routerLink="/login" >Login</a></li>
        <li><a class="nav-link" (click)="showRegister()" routerLink="/register">Register</a></li>
        <li><a routerLink="/cart"><img class="i1" src="../../../assets/cart.png"></a></li>

    </ul>
  </div>
  </nav>
</header>
<app-startup></app-startup>
<div id="loginForm" [ngClass]="[loginmodal]">


  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span (click)="hideLogin()" class="close" title="Close Modal">&times;</span>
  <h2>Log In</h2>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" [(ngModel)]="username" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>

      <button (click) = "loginUser(); hideLogin()">Sign In</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="hideLogin()" class="cancelbtn">Cancel</button>
      <span class="psw"> <a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>


<div id="RegisterForm" [ngClass]="[registermodal]">
  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span (click)="hideRegister()" class="close" title="Close Modal">&times;</span>
  <h2>Register</h2>
    </div>

    <div class="container">

      <label for="uname" ><b>Username</b></label>
      <input type="text"[(ngModel)]="username" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="password"  placeholder="Enter Password" name="psw" required>
      <button type="submit" (click) = "SignUpUser(); hideRegister()">Sign Up</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="hideRegister()" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
