
<div class="center">
    <div class="gallery">
      <a routerLink="menu/special/specials-view">
        <img src="../assets/alfredo.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.AlfredoPizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/meat_lover.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.MeatLoversPizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Hawaii.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.HawaiianPizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/vege_delux.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.VeggiePizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Italian.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.ItalianPizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Supreme_pizza.jpg" width="600" height="400">
      </a>
      <div class="desc">{{specials.SupremePizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Four_Cheese.png" width="600" height="400">
      </a>
      <div class="desc">{{specials.FourCheesePizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Mediterranean.png" width="600" height="400">
      </a>
      <div class="desc">{{specials.MediterraneanPizza}}</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/white_pizza.png" width="600" height="400">
      </a>
      <div class="desc">{{specials.WhitePizza}}</div>
    </div>


  </div>


