#title{
  padding-left: 20px;
}

#toppings{
  float: left;
  padding-left: 20px;
  width: 250px;
}


#cart{
  position: relative;
  top: 10px;
}

img{
  float: left;
  padding-left: 20px;
}


#cost{
  width: 100px;
  float: left;
  background-color:red;
  color: white;
  border-radius: 5px;
  text-align: center;
}



