<body class="Site">
  <main class="Site-content">
    <div id = "title">
      <h1>{{pizza | pizzaname}}</h1>
      <h3 id="cost">{{cost | currency}}</h3>
    </div>

    <div id="container"> <!--start container  -->
        <img #pizzaPic [src]="image" width="350" height="300">

          <div id ="fixx"> <!--start fixxx  div : contains toppings and sizes-->

            <div id="toppings"> <!--start toppings  div -->
            <h2>Toppings</h2>

              <div *ngFor="let topping of pizzaItem.toppings">
                <b>{{topping.toppingName}}</b></div>
                </div> <!--end toppings  div -->

               <div id="sizesDiv">  <!--start sizes  div -->
                 <h2>Sizes</h2>
                  <div *ngFor="let size of sizes">
                  <input type="radio"  name="size"[value]="size.toppingName" [checked]="size.toppingName=='Medium'" (change)="ontoppingChange(size.toppingName,size.cost,$event.target.checked)">
                  <label   [for]=" size.toppingName"> {{size.toppingName}}</label><br>
               </div>
              </div> <!--end sizes  div -->

          </div> <!--end fixxx  div -->

      <div id = btn-cost>
      <button id="cart-btn"  (click)="addToCart()" routerLink="/cart"> Add To Cart </button>
      </div>


    </div> <!--end container  div -->

  </main>

</body>


<!-- <div id = costncart>


<div id="cost">
  <h3>{{cost}}</h3>
</div>

  <div id="addcart">
    <button id="cart-btn"  (click)="addToCart()" routerLink="/cart"> Add To Cart </button>
  </div>

</div> -->







