

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#title{
  padding-left: 20px;
}

#toppings{
  float: left;
  padding-left: 20px;
  width: 250px;
}

#container{
  position: relative;
  }

#fixx{
  position: absolute;
  width: 500px;
  height: 200px;
  top: 250%;
  left: 75%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; 
}
#cart{
  position: relative;
  top: 10px;
}



img{
  float: left;
  padding-left: 20px;

}



#sizes{
  position: absolute;
  /*position: relative;*/
}


#cost{
  /*position: relative;*/
  /*top: -110px;*/
  /*left: 75px;*/
  width: 100px;
  float: left;
  background-color:red;
  color: white;
  border-radius: 5px;
  text-align: center;
  position: absolute;
}






#costncart{
  float:left;
  position: relative;
}

#cost{
  position: absolute;
}

#addcart{
  position: absolute;
  top: 275px;
}

#cart-btn{
  width: 150px;
  background-color:red;
  color: white;
  border-radius: 5px;
  text-align: center;
}



/*#costncart{*/
/*  width:200px;*/
/*}*/
/*cart button*/





