.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#title{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 5px;
  /*display: flex;*/
  align-content: center;
}

#title>h1{
  display: inline-block;
}


#sizesDiv{
  padding-left: 50px;
  width: 250px;
}

#container{
  width: 990px;
  left: 25%;
  position: relative;
  display: flex;
  align-items: flex-start;
  }

#fixx{
  position: absolute;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  align-items: flex-start;
  left: 375px;
}
#cart{
  position: relative;
  top: 10px;
}

img{
  padding-left: 20px;

}

#cost{
  background-color:red;
  color: white;
  border-radius: 5px;
}

#btn-cost{
  /*width: 200px;*/
  /*height: 150px;*/
  /* display: flex; */
  top: 250px;
}


#cart-btn{
  width: 200px;
  background-color:red;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#btn-cost {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 200px;
}






