agm-map{
    height:300px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    text-align: center;
}
#cost{
    background-color:red;
    color: white;
    border-radius: 5px;
    width: auto;
  }