<!-- <p>home works!</p> -->
<div class="center">
    <div class="gallery">
        <a target="_blank" href="#">
          <img src="../assets/alfredo.jpg" width="600" height="400">
        </a>
        <div class="desc">Alfredo Pizza</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="#">
          <img src="../assets/meat_lover.jpg"  width="600" height="400">
        </a>
        <div class="desc">Meat Lover Pizza</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Hawaii.jpg" width="600" height="400">
      </a>
      <div class="desc">Hawaii Pizza</div>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/vege_delux.jpg"  width="600" height="400">
      </a>
      <div class="desc">Veggie Deluxe Pizza</div>
  </div>

</div>


<div class="center">
  <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Italian.jpg" width="600" height="400">
      </a>
      <div class="desc">Italian Pizza</div>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="../assets/Supreme_pizza.jpg"  width="600" height="400">
      </a>
      <div class="desc">Supreme Pizza</div>
  </div>

</div>