<header>
  <nav style="background-color: #E3D081;"class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" routerLink=""><img class="i2" src="../../../assets/logo.png"></a>


    <div id="user">
      <h1>{{session}}</h1>
    </div>

    <div id="navLinks">
    <ul class="navbar-nav " >

      

        <li> <a class="nav-link" ></a>logout</li>
        <li> <a class="nav-link" routerLink="/employee-view" ></a>uncomplete orders</li>
        <li><a class="nav-link"  routerLink="/stats">stats</a></li>
        <li><a routerLink="/cart"><img class="i1" src="../../../assets/cart.png"></a></li>

    </ul>
  </div>
  </nav>
</header>
<app-startup></app-startup>


