
<body id="background">
  <br>
  <h1 style="color: red;">About Us</h1>
  <div class="pizza_legacy_intro">
    <br>
    <br>
    <h2 style="color: red;">Begining of our pizza legacy</h2>
    <p>Here at SuperSlice we pride ourselves on keeping a great familiar taste that people know and love.
      Begining from a little corner in the North Bronx to having over 50 locations throughout all five buroughs.</p> 
     Our goal was to create an experience and taste that is recognizable to even our earliest customers.
        The secret is in the sauce and our customers keep coming back for more to prove it's undeniable deliciousness. 
    

</div>
<div class="love_in_intro"><br>
<h2 style="color: red;">Love in every Slice</h2>
Making our food daily using only the freshest ingredients has made SuperSlice a pioneer since 1960.
    All of our dishes are handcrafted and made to order.

  Our dough is made from scratch and given the proper time to rise.
    You’ll find its freshness in our signature rolls, delicious focaccia bread and artisan pizzas.

    Our vegetables are chopped and roasted early each morning and again in small batches throughout the day.
    Those fresh roasted veggies then make their way into our dishes, including many of the toppings on our pizzas.

    Our tomato sauces for pizza and pasta dishes are made from scratch daily with our own blend of tomatoes
    and hand-cut fresh herbs. 
    The tomatoes for our sauces are grown exclusively for SuperSlice in California and
    are harvested and blended to ’s specifications. They are then packed and shipped to every SuperSlice restaurant to
    prepare our homemade tomato sauces.

    We pride ourselves on the authenticity of our process, and we believe it’s a
    difference you can taste in every dish on our menu.

</div>

</body>
