h1,h2 {
    text-align: center;
}

div.pizza_legacy_intro {
    text-align: center;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    color: white;
}

div.love_in_intro {
    text-align: center;
    word-wrap: break-word;
 top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* #background{
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../../../assets/IMG_0645_1_25.png'),
     url();
    background-repeat: no-repeat;
    background-position: 
    top 125px right;
} */
#background{background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      /* rgba(0, 0, 255, 0.3), 
      rgba(0, 0, 255, 0.3) */
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url('../../../assets/IMG_0645_2_35_1_901.png'),
    url('../../../assets/abtus.v1.png');
    background-repeat: no-repeat;
    background-position: 
    top 125px left,
    top 125px right
    ;
}
