*{
    text-align: center;
    
}
/* body{
    background-color: wheat;
} */
h1{
    color:red;
}
.chart{
    position: relative;
    left:13%;
}

#superslice{
    /* width: 200px; */
    background-color:red;
    color: white;
    border-radius: 5px;
    text-align: center;
    /* margin-left: 300px; */
}
