<!-- <h3>ee Ticket</h3>
<div class="form-group">
  <label for="ticketID">Ticket ID</label>
  <input type="text" class="form-control" required [(ngModel)]="t.ticketId" style="width: 10%;" value="{{t.ticketId}}">
  <label for="ticketID">Status</label>

  <select id="up-status" >
    <option value="Pending" selected="selected">Pending</option>
    <option value="Cooking">Cooking</option>
    <option value="Ready">Ready</option>
    <option value="Complete">Complete</option>
  </select>
  <button>Update</button>
</div> -->

<!-- <button>Pending</button>
<button>Incomplete</button>
<button>Complete</button> -->
<div  style="text-align: center;">
  <button class="three_b" (click)="showPendingPizza=!showPendingPizza; showPendingOnly()" [class.active]="showPendingPizza">Pending</button>
  <button class="three_b" (click)="showIncompletePizza=!showIncompletePizza; showIncompleteOnly()" [class.inactive]="showIncompletePizza">Incomplete</button>
  <button class="three_b" (click)="showCompletePizza=!showCompletePizza; showCompleteOnly()" [class.inactive]="showCompletePizza">Complete</button>
</div>


<div *ngIf="showPendingPizza">
<table>
  <caption>Pending Order</caption>
  <thead>
    <tr>
      <th>Ticket #</th>
      <th>Items #</th>
      <th>Note</th>
      <th>Total Cost</th>
      <th>Time</th>
      <th>Options</th>
      <th>Action</th>
      <th>Status Now</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of url; let i = index; ">
    
      <td>{{url[i].ticketId}}</td>
      <td>
        <div style="list-style-type:none; text-align: center;" *ngFor="let pizza of u.pizzas; let j = index;">
          <div class="c_style">pizza # {{j}}</div>
          <span *ngFor="let topping of pizza.toppings">
            <span>{{topping.toppingName}},</span>
          </span>
        </div>
      </td>
      <td>{{this.url[i].note}}</td>
      <td>${{url[i].totalCost}}</td>
      <td>{{url[i].placementTime}}</td>
    
      <td>
        <select id="up-status"  (change)="onChangeStatusID($event.target.value)">
            <option value="Pending" selected="selected" >Pending</option>
            <option value="Cooking">Cooking</option>
            <option value="Ready">Ready</option>
            <option value="Complete">Complete</option>
          </select>
      </td>
      <td><button (click)="ChangeStatus(i)">Update</button></td>
      <td> 
        {{url[i].status}}
      </td>
    </tr>
  </tbody>

</table>
</div>



<div *ngIf="showIncompletePizza">
<table>
  <caption>Incomplete Order</caption>
  <thead>
    <tr>
      <th>Ticket #</th>
      <th>Items #</th>
      <th>Note</th>
      <th>Total Cost</th>
      <th>Time</th>
      <th>Options</th>
      <th>Action</th>
      <th>Status Now</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let uu of In_completedTickets; let ii = index; ">
    <td>{{In_completedTickets[ii].ticketId}}</td>
    <td>
      <div style="list-style-type:none; text-align: center;" *ngFor="let pizza of uu.pizzas; let jj = index;">
        <div class="c_style">pizza # {{jj}}</div>
        <span *ngFor="let topping of pizza.toppings">
          <span>{{topping.toppingName}},</span>
        </span>
      </div>
    </td>
    <td>{{this.In_completedTickets[ii].note}}</td>
      <td>${{In_completedTickets[ii].totalCost}}</td>
      <td>{{In_completedTickets[ii].placementTime}}</td>
      <td>
        <select id="up-status"  (change)="onChangeStatusID($event.target.value)">
            <option value="Pending" selected="selected" >Pending</option>
            <option value="Cooking">Cooking</option>
            <option value="Ready">Ready</option>
            <option value="Complete">Complete</option>
          </select>
      </td>
      <td><button (click)="ChangeStatus2(ii)">Update</button></td>
      <td> 
        {{In_completedTickets[ii].status}}
      </td>
  </tr>
   </tbody>
</table>
</div>



<div *ngIf="showCompletePizza">
<table>
  <caption>Complete Order</caption>
  <thead>
    <tr>
      <th>Ticket #</th>
      <th>Items #</th>
      <th>Note</th>
      <th>Total Cost</th>
      <th>Time</th>
      <th>Options</th>
      <th>Action</th>
      <th>Status Now</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let uuu of CompleteURL; let iii = index; ">
    <td>{{CompleteURL[iii].ticketId}}</td>
    <td>
      <div style="list-style-type:none; text-align: center;" *ngFor="let pizza of uuu.pizzas; let jjj = index;">
        <div class="c_style">pizza # {{jjj}}</div>
        <span *ngFor="let topping of pizza.toppings">
          <span>{{topping.toppingName}},</span>
        </span>
      </div>
    </td>
    <td>{{this.CompleteURL[iii].note}}</td>
      <td>${{CompleteURL[iii].totalCost}}</td>
      <td>{{CompleteURL[iii].placementTime}}</td>
      <td>
        <select id="up-status"  (change)="onChangeStatusID($event.target.value)">
            <option value="Pending" selected="selected" >Pending</option>
            <option value="Cooking">Cooking</option>
            <option value="Ready">Ready</option>
            <option value="Complete">Complete</option>
          </select>
      </td>
      <td><button (click)="ChangeStatus3(iii)">Update</button></td>
      <td> 
        {{CompleteURL[iii].status}}
      </td>
  </tr>
</tbody>
</table>
</div> 